@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#dropdown-menu-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-g .nav .link,
#dropdown-menu-g .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-g .navbar,
#dropdown-menu-g .dropdown-menu {
  background: #475577;
}
#dropdown-menu-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-g .dropdown-menu a:hover,
#dropdown-menu-g .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-g .navbar-toggler {
  color: #ffffff;
}
#social-buttons1-e .mbr-header__text {
  color: #475577;
}
#contacts3-f STRONG {
  color: #efefef;
}
#dropdown-menu-20 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-20 .nav .link,
#dropdown-menu-20 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-20 .navbar,
#dropdown-menu-20 .dropdown-menu {
  background: #475577;
}
#dropdown-menu-20 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-20 .dropdown-menu a:hover,
#dropdown-menu-20 .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-20 .navbar-toggler {
  color: #ffffff;
}
#social-buttons1-22 .mbr-header__text {
  color: #475577;
}
#contacts3-23 STRONG {
  color: #efefef;
}
#dropdown-menu-24 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-24 .nav .link,
#dropdown-menu-24 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-24 .navbar,
#dropdown-menu-24 .dropdown-menu {
  background: #475577;
}
#dropdown-menu-24 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-24 .dropdown-menu a:hover,
#dropdown-menu-24 .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-24 .navbar-toggler {
  color: #ffffff;
}
#msg-box2-2k {
  
  
  
  
  
  
}
#msg-box2-2k .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2k .mbr-article {
  color: #252525;
}
#msg-box2-2k .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 20px;
}
#msg-box2-2k .mbr-article {
  color: #252525;
}
#msg-box3-1w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1w .mbr-article .mbr-article__text {
  text-align: left;
}
#msg-box3-1w .mbr-article .mbr-article__subtext {
  text-align: left;
}
#msg-box3-1w #menu div:hover {
  background-color: #EFF5FB;
}
#dropdown-menu-1x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1x .nav .link,
#dropdown-menu-1x .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1x .navbar,
#dropdown-menu-1x .dropdown-menu {
  background: #475577;
}
#dropdown-menu-1x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1x .dropdown-menu a:hover,
#dropdown-menu-1x .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-1x .navbar-toggler {
  color: #ffffff;
}
#msg-box3-1y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1y .mbr-article P {
  color: #475577;
}

#msg-box2-21 .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-21 .mbr-article {
  color: #252525;
}
#msg-box2-21 .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#content5-22 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-article {
  color: #fff;
}
