@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
#dropdown-menu-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-g .nav .link,
#dropdown-menu-g .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-g .navbar,
#dropdown-menu-g .dropdown-menu {
  background: #475577;
}
#dropdown-menu-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-g .dropdown-menu a:hover,
#dropdown-menu-g .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-g .navbar-toggler {
  color: #ffffff;
}
#social-buttons1-e .mbr-header__text {
  color: #475577;
}
#contacts3-f STRONG {
  color: #efefef;
}
#dropdown-menu-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-j .nav .link,
#dropdown-menu-j .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-j .navbar,
#dropdown-menu-j .dropdown-menu {
  background: #475577;
}
#dropdown-menu-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-j .dropdown-menu a:hover,
#dropdown-menu-j .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-j .navbar-toggler {
  color: #ffffff;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
}



#msg-box2-1e .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-1e .mbr-article {
  color: #252525;
}
#msg-box2-1e .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-1i .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-1i .mbr-article {
  color: #252525;
}
#msg-box2-1i .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-1j .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-1j .mbr-article {
  color: #252525;
}
#msg-box2-1j .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}






#msg-box2-18 .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-18 .mbr-article {
  color: #252525;
}
#msg-box2-18 .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-19 .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-19 .mbr-article {
  color: #252525;
}
#msg-box2-19 .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-1a .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-1a .mbr-article {
  color: #252525;
}
#msg-box2-1a .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-1b .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-1b .mbr-article {
  color: #252525;
}
#msg-box2-1b .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-1c .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-1c .mbr-article {
  color: #252525;
}
#msg-box2-1c .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-1d .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-1d .mbr-article {
  color: #252525;
}
#msg-box2-1d .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

#msg-box2-1g .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-1g .mbr-article {
  color: #252525;
}
#msg-box2-1g .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#content5-1o .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1o .mbr-article {
  color: #fff;
}
#dropdown-menu-20 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-20 .nav .link,
#dropdown-menu-20 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-20 .navbar,
#dropdown-menu-20 .dropdown-menu {
  background: #475577;
}
#dropdown-menu-20 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-20 .dropdown-menu a:hover,
#dropdown-menu-20 .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-20 .navbar-toggler {
  color: #ffffff;
}
#social-buttons1-22 .mbr-header__text {
  color: #475577;
}
#contacts3-23 STRONG {
  color: #efefef;
}
#dropdown-menu-24 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-24 .nav .link,
#dropdown-menu-24 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-24 .navbar,
#dropdown-menu-24 .dropdown-menu {
  background: #475577;
}
#dropdown-menu-24 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-24 .dropdown-menu a:hover,
#dropdown-menu-24 .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-24 .navbar-toggler {
  color: #ffffff;
}
#msg-box2-2k {
  
  
  
  
  
  
}
#msg-box2-2k .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2k .mbr-article {
  color: #252525;
}
#msg-box2-2k .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 20px;
}
#msg-box2-2k .mbr-article {
  color: #252525;
}
#dropdown-menu-2o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2o .nav .link,
#dropdown-menu-2o .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2o .navbar,
#dropdown-menu-2o .dropdown-menu {
  background: #475577;
}
#dropdown-menu-2o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2o .dropdown-menu a:hover,
#dropdown-menu-2o .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-2o .navbar-toggler {
  color: #ffffff;
}
#msg-box2-2r {
  
  
  
  
  
  
}
#msg-box2-2r .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2r .mbr-article {
  color: #252525;
}
#msg-box2-2r .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 20px;
}
#msg-box2-2r .mbr-article {
  color: #252525;
}
#msg-box2-2s {
  
  
  
  
  
  
}
#msg-box2-2s .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2s .mbr-article {
  color: #252525;
}
#msg-box2-2s .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 20px;
}
#msg-box2-2s .mbr-article {
  color: #252525;
}
#msg-box2-2t {
  
  
  
  
  
  
}
#msg-box2-2t .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2t .mbr-article {
  color: #252525;
}
#msg-box2-2t .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 20px;
}
#msg-box2-2t .mbr-article {
  color: #252525;
}
#msg-box2-2u {
  
  
  
  
  
  
}
#msg-box2-2u .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2u .mbr-article {
  color: #252525;
}
#msg-box2-2u .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 20px;
}
#msg-box2-2u .mbr-article {
  color: #252525;
}
#dropdown-menu-2w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2w .nav .link,
#dropdown-menu-2w .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2w .navbar,
#dropdown-menu-2w .dropdown-menu {
  background: #475577;
}
#dropdown-menu-2w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2w .dropdown-menu a:hover,
#dropdown-menu-2w .dropdown-menu a:focus {
  background: #3f4c6a;
}
#dropdown-menu-2w .navbar-toggler {
  color: #ffffff;
}
#msg-box2-2y {
  
  
  
  
  
  
}
#msg-box2-2y .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 20px;
}
#msg-box2-2y .mbr-article {
  color: #252525;
}
#msg-box3-34 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-34 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-34 .mbr-article P {
  color: #475577;
}
